body{
	font-size:14px;
}

body, button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 {
	font-family:Microsoft JhengHei,Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;
}

.active {
   background:#D4D4D4; 
   color:dimgray;
   border-radius:6px;
   padding-left:3px;
   padding-right:3px;
}

.back-to-top {

display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */

position: fixed; /* 位置是固定的 */

bottom: 20px; /* 顯示在頁面底部 */

right: 30px; /* 顯示在頁面的右邊 */

z-index: 99; /* 確保不被其他功能覆蓋 */

border: 1px solid #5cb85c; /* 顯示邊框 */

outline: none; /* 不顯示外框 */

background-color: #fff; /* 設置背景背景顏色 */

color: #5cb85c; /* 設置文本顏色 */

cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

padding: 10px 15px 15px 15px; /* 增加一些內邊距 */

border-radius: 10px; /* 增加圓角 */

}

.back-to-top:hover {

background-color: #5cb85c; /* 滑鼠移上去時，反轉顏色 */

color: #fff;

}